.reports {
  .reports-title {
    text-align: center;
  }
  .reports-header {
    display: flex;
    justify-content: space-between;
    .reports-header-left {
      display: flex;

      .reports-header-reset {
        padding: 0 10px;
        cursor: pointer;
        color: blue;
      }
    }
    .reports-header-right {
      display: flex;

      .reports-main-unsolved {
        padding: 0 10px;
        color: red;
        .reports-main-unsolved-text {
        }
        .reports-main-unsolved-number {
          cursor: pointer;
        }
      }
    }
  }
  .reports-main {
    margin-top: 10px;

    .reports-main-table {
      width: 100%;
      border: 1px solid #ddd;

      th,
      td {
        padding: 8px;
        text-align: center;
      }

      .reports-main-table-header {
        .reports-main-table-header-row {
          .reports-main-table-header-cell {
            cursor: pointer;
          }
        }
      }
      .reports-main-table-body {
        .reports-main-table-body-row {
          .reports-main-table-body-cell {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .reports-main-table-body-cell.selectable {
            cursor: pointer;
          }
        }
      }
    }
  }
}
