.blocks {
  margin-top: 30px;

  .blocks-title {
    text-align: center;
    padding: 20px;
  }
  .blocks-panels {
  }

  .blocks-list {
    .blocks-list-table {
      border-collapse: collapse;
      border: 1px solid #ccc;
      width: 100%;
      .blocks-list-table-head {
        border-bottom: 1px solid #ccc;
        .blocks-list-table-head-row {
          .blocks-list-table-head-cell {
            text-align: center;
            padding: 8px;
          }
        }
      }
      .blocks-list-table-body {
        .blocks-list-table-body-row {
          .blocks-list-table-body-cell {
            text-align: center;
            padding: 8px;
          }
        }
      }
    }
  }
  .blocks-search {
  }
  .blocks-pagination {
  }
}
