.home {
  .home-search-container {
    margin: 100px;
    text-align: center;
    input {
    }
  }
  .home-list-container {
    .logo {
      text-align: center;
      margin: 0 auto;
      img {
        width: 180px;
        height: 180px;
      }
    }
    p {
      text-align: center;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;

      gap: 3.5%;
      align-content: space-around;
      /* justify-content: space-around; */
    }
  }
}
