button {
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  border: none;
  font-size: 12px;
}

button.violated {
  border: 1px solid red;
}

.dropdown {
  position: absolute;
  background-color: white;
  width: 40px;
  max-height: 82px;

  border-radius: 3px;
  box-shadow: 2px 3px 3px hsl(0deg 0% 0% / 0.2);

  li {
    overflow: hidden;
    padding: 5px;
    text-align: center;
  }

  li:hover {
    background-color: rgba(127, 255, 212, 0.307);
  }
}

.dropdown::-webkit-scrollbar {
  width: 5px;
}
.dropdown::-webkit-scrollbar-track {
  background-color: transparent;
}
.dropdown::-webkit-scrollbar-thumb {
  background-color: rgba(127, 255, 212, 0.644);
  height: 20%;
  border-radius: 10px;
}
.dropdown::-webkit-scrollbar-button {
  display: transparent;
  height: 1px;
}
