.schedule-column {
  width: 381px;
  padding: 0 10px;
  .schedule-column-date {
  }
  .schedule-column-list {
    margin-top: 10px;

    height: 90vh;
    ul {
      li.place-indicator {
        text-align: center;

        padding: 30px 0px;
        margin: 20px 0;
        background-color: rgba(245, 245, 245, 0.772);
        border-radius: 10px;
        p {
          font-size: 13px;
        }
      }

      li.dropCard {
        display: flex;
        align-items: center;

        span.index {
          margin: 0 20px;
          p {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: aquamarine;
            padding: 5px;
            width: 10px;
            height: 10px;
            color: white;
          }
        }

        span.delete {
          margin: 15px;
          cursor: pointer;
        }
      }
    }
  }

  .active {
    background-color: rgba(127, 255, 212, 0.333);
  }
}
