.darkmode {
  padding: 10px;

  .darkmode-container {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 60px;
    height: 25px;
    border: 2px solid #ccc;
    border-radius: 25px;
    position: relative;

    .darkmode-thumb-left {
      position: absolute;
      left: 0;
      width: 25px;
      height: 25px;
      border: 1px solid #ccc;
      border-radius: 50%;
      transition: left 0.3s linear;
    }
    .darkmode-thumb-right {
      position: absolute;
      width: 25px;
      height: 25px;
      left: 34px;
      border: 1px solid #ccc;
      border-radius: 50%;
      transition: left 0.3s linear;
    }
    figure {
      width: 25px;
      height: 25px;
      text-align: center;
      line-height: 25px;
      color: var(--admin_color);
    }
  }
}