.sidebar {
  width: 150px;
  height: 100vh;
  user-select: none;

  /* 그림자 부분 */
  /* box-shadow: 3px 3px 3px 3px gray; */
  ul {
    text-align: center;
    padding-top: 50px;
    li {
      padding: 10px 0;
      a {
        .sidebar-new-reports {
          display: inline-block;
          color: white;
          background-color: red;
          border-radius: 5px;
          width: 20px;
          height: 20px;
          line-height: 20px;
        }
      }
      a.active .sidebar-text {
        color: aquamarine;
        font-weight: bold;
      }
      a:hover {
        .sidebar-text {
          color: aquamarine;
        }
      }
    }
  }
}
