.users-table-responsive {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;

  .users-table-responsive-row {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    flex-grow: 1;
    flex-shrink: 1;

    .cell-header {
      font-weight: bold;
    }

    td {
      display: flex;
      justify-content: space-between;
      white-space: nowrap;
      padding: 8px;
    }
  }
  .users-table-responsive-row:nth-child(even) {
    background-color: rgba(127, 255, 212, 0.341);
  }
}
@media screen and (max-width: 592px) {
  .users-table-responsive-row {
    max-width: 500px;
  }
}
@media screen and (min-width: 592px) and (max-width: 818px) {
  .users-table-responsive {
    .users-table-responsive-row {
      max-width: 43% !important;
      max-height: 43% !important;
    }
    .users-table-responsive::after {
      content: "";
      max-width: 43% !important;
      max-height: 43% !important;
      border: 0px solid #ddd;
      border-radius: 10px;
      padding: 10px;
      flex-grow: 1;
      flex-shrink: 1;
    }
  }
}
@media screen and (min-width: 818px) {
  .users-table-responsive {
    visibility: visible;
  }
  .users-table-responsive-row {
    max-width: 28% !important;
    max-height: 28% !important;
  }
  .users-table-responsive::after {
    content: "";
    max-width: 56% !important;
    max-height: 28% !important;
    border: 0px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    flex-grow: 1;
    flex-shrink: 1;
  }
}
@media screen and (min-width: 977px) {
  .users-table-responsive {
    display: none;
  }
}
