.schedules-card {
  width: 30%;
  height: 250px;
  border: 1px solid gray;
  border-radius: 10px;
  position: relative;
  flex-grow: 1;
  cursor: pointer;
  margin: 20px;
  .schedules-card-link {
    .schedules-card-cap {
      background-color: white;
      position: absolute;
      bottom: 0px;
      width: 100%;
      height: 40%;
      border-radius: 0px 0px 10px 10px;

      .schedules-card-cap-container {
        .schedules-card-title {
          padding: 5px;
          font-weight: bold;
        }

        .schedules-card-duration {
          padding: 5px;
          font-size: 14px;
        }

        .schedules-card-bottom {
          display: flex;
          width: 100%;
          justify-content: space-between;
          position: absolute;
          bottom: 10px;

          p {
            padding: 0 5px;
            font-size: 14px;
          }
          .schedules-card-register-date {
          }
          .schedules-card-location {
            color: aquamarine;
          }
        }
      }
    }
  }

  .schedules-card:hover {
    background-size: 50% 50%;
  }
}
