.schedules {
  padding: 20px;
  user-select: none;
  .schedules-title {
    text-align: center;
  }
  .schedules-control {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .schedules-pagination {
      position: relative;
      cursor: pointer;
      p {
        padding-bottom: 10px;
      }
      .schedules-pagination-container {
        visibility: hidden;
        position: absolute;
        max-height: 0px;
        opacity: 0;
      }
    }

    .schedules-pagination:hover {
      p {
        padding-bottom: 10px;
        color: aquamarine;
      }
      .schedules-pagination-container {
        visibility: visible;
        position: absolute;
        left: 8%;
        right: 0;
        /* 고정인경우 */
        /* width: 70px; */
        /* 변경인경우 */
        width: 180px;

        max-height: 400px;
        opacity: 1;
        z-index: 1;
        border: 1px solid gray;
        background-color: #fff;
        transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
        text-align: center;

        .schedules-pagination-item {
          padding: 10px;
          /* 가변인 경우 */
          display: flex;
          justify-content: space-evenly;
        }

        li:not(:last-child) {
          border-bottom: 1px solid gray;
        }

        li:hover {
          color: aquamarine;
        }

        li:active {
          background-color: aquamarine;
          color: white;
        }
      }
    }
    .schedules-right {
      display: flex;
      .schedules-sort {
        .schedules-sort-container {
          display: flex;

          .schedules-sort-item:not(:last-child) {
            padding: 0 10px;
            position: relative;
            cursor: pointer;

            p {
              padding-bottom: 10px;
            }

            .schedules-sort-dropdown-container {
              visibility: hidden;
              position: absolute;
              max-height: 0px;
              opacity: 0;
            }
          }

          .schedules-sort-item:hover {
            padding: 0 10px;
            position: relative;
            cursor: pointer;

            .schedules-sort-dropdown-container {
              visibility: visible;
              position: absolute;
              left: -100%;
              right: 0;
              width: 200px;
              max-height: 400px;
              opacity: 1;
              z-index: 1;
              border: 1px solid gray;
              background-color: #fff;
              transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;

              li {
                padding: 10px;
                text-align: center;
              }

              li:hover {
                color: aquamarine;
              }

              .schedules-sort-dropdown-item:active {
                background-color: aquamarine;
                color: white;
              }

              .schedules-sort-dropdown-item:not(:last-child) {
                border-bottom: 1px solid gray;
              }
            }
          }

          .schedules-sort-item:last-child {
            padding: 0 10px;
            position: relative;
            cursor: pointer;

            p {
              padding-bottom: 10px;
            }

            .schedules-sort-dropdown-container {
              visibility: hidden;
              position: absolute;
              max-height: 0px;
              opacity: 0;
            }
          }

          .schedules-sort-item:last-child:hover {
            p {
            }
            .schedules-sort-dropdown-container {
              visibility: visible;
              position: absolute;
              left: -200%;
              right: 0;
              width: 200px;
              z-index: 1;
              border: 1px solid gray;
              background-color: #fff;
              max-height: 400px;
              opacity: 1;
              transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out;

              li {
                padding: 10px;
                text-align: center;
              }

              li:hover {
                color: aquamarine;
              }

              .schedules-sort-dropdown-item:active {
                background-color: aquamarine;
                color: white;
              }

              .schedules-sort-dropdown-item:not(:last-child) {
                border-bottom: 1px solid gray;
              }
            }
          }

          .schedules-sort-item:hover {
            color: aquamarine;
          }
        }
      }

      .schedules-more {
        margin-bottom: 5px;
        cursor: pointer;
        position: relative;

        .schedules-more-container {
          z-index: 1;
          position: absolute;
          left: 100;
          right: 0;
          width: 70px;
          background-color: white;
          border: 1px solid gray;
          border-radius: 5px;
          font-size: 14px;
          text-align: center;

          .schedules-more-item {
            padding: 5px;
          }

          .schedules-more-item:hover {
            padding: 5px;
            color: aquamarine;
          }
        }
      }
    }
  }
  .schedules-deletion {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    height: 0px;
    .schedules-deletion-item {
      display: none;
      padding: 0px 5px;
    }
    transition: height 0.5s ease;
  }
  .schedules-deletion-active {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    margin: 10px 0;
    height: 16px;
    .schedules-deletion-item {
      display: inline-block;
      padding: 0px 5px;
      cursor: pointer;
    }
    transition: all 0.5s ease;
  }
  .schedules-cards {
    .schedules-cards-container {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      .schedules-cards-logo {
        text-align: center;
        margin: 0 auto;
        img {
          width: 180px;
          height: 180px;
        }
        p {
          text-align: center;
        }
      }
    }
  }

  .schedules-search {
    margin-top: 20px;
    text-align: center;
    input {
    }
  }

  .schedules-pagination-bottom {
  }
}
