.template {
  .template-title {
    text-align: center;
    padding: 20px;
  }

  .template-panels {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .template-panels-left {
    }
    .template-panels-right {
    }
  }
  .template-main {
  }
  .template-search {
  }
  .template-pagination {
  }
}

@media screen and (max-width: 516px) {
}
@media screen and (min-width: 517px) {
  .template {
    .sidebar-upper {
      display: none;
    }
  }
}
