.placesList {
  padding: 0 10px;
  max-width: 400px;
  min-width: 300px;

  .info {
    p.areaName {
      font-size: 18px;
      font-weight: 700;
    }
    p.duration {
      font-size: 14px;
      color: gray;
    }
  }
  .place-search-container {
    padding: 20px 0;
    text-align: center;
    input {
      width: 87%;
      padding: 10px 5px;
      border: 2px solid rgba(128, 128, 128, 0.214);
      outline: none;
    }
    input::placeholder {
      color: rgba(128, 128, 128, 0.389);
    }
  }
  .place-search-container:focus {
    outline: none;
  }
  .category {
    padding-bottom: 10px;
    ul {
      text-align: center;
      display: flex;
      margin: 0 6.5%;
      justify-content: space-between;
      align-items: center;
      li {
        border: 1px solid gray;
        color: gray;
        font-size: 13px;
        padding: 5px 10px;
        border-radius: 7px;
        cursor: pointer;
        user-select: none;
      }

      li.active {
        border: 1px solid aquamarine;
        background-color: aquamarine;
        color: white;
        font-weight: bold;
      }
    }
  }
  .list {
    height: 460px;
    overflow-y: auto;
    overflow-x: hidden;
    ul.listContainer {
      padding-right: 10px;
      min-height: 461px;
      .empty {
        text-align: center;
        img {
          width: 150px;
          height: 150px;
        }
      }

      li.loading {
        padding: 20px 0;
        font-size: 20px;
        text-align: center;
        vertical-align: middle;
        transform-origin: 50% 48%;
        animation: rotate 1.5s linear infinite;
      }

      li.warning {
        padding: 20px 0;
        text-align: center;
        /* visibility: hidden; */
      }

      li.placeListCard {
        display: flex;
        align-items: center;
        margin: 10px 0;
        user-select: none;

        span.placeEvent {
          margin-left: 10px;
          p.btn {
            cursor: pointer;
            padding: 22px 8px;
            margin-top: -4px;
            font-weight: bold;
            border-radius: 7px;
            background-color: rgb(243, 243, 243);
            color: gray;
          }
        }
        span.placeEventActive {
          margin-left: 10px;
          p.btn {
            cursor: pointer;
            padding: 22px 8px;
            margin-top: -4px;
            font-weight: bold;
            border-radius: 7px;
            background-color: pink;
            color: white;
          }
        }
      }
    }
  }
  .list::-webkit-scrollbar {
    width: 10px;
  }
  .list::-webkit-scrollbar-track {
    background-color: transparent;
  }
  .list::-webkit-scrollbar-thumb {
    background-color: rgba(127, 255, 212, 0.644);
    height: 20%;
    border-radius: 10px;
  }
  .list::-webkit-scrollbar-button {
    display: transparent;
    height: 10px;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
