.pagination-controller-fixed {
  position: relative;
  cursor: pointer;
  p {
    padding-bottom: 10px;
  }
  .pagination-controller-container {
    visibility: hidden;
    position: absolute;
    max-height: 0px;
    opacity: 0;
  }
}

.pagination-controller-fixed:hover {
  p {
    padding-bottom: 10px;
    color: aquamarine;
  }
  .pagination-controller-container {
    visibility: visible;
    position: absolute;
    left: 0%;
    right: 0;
    /* 고정인경우 */
    /* width: 70px; */
    /* 변경인경우 */
    width: 140px;

    max-height: 400px;
    opacity: 1;
    z-index: 1;
    border: 1px solid gray;
    background-color: #fff;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    text-align: center;

    .pagination-controller-item {
      padding: 10px;
      /* 가변인 경우 */
      display: flex;
      justify-content: space-evenly;
    }

    li:not(:last-child) {
      border-bottom: 1px solid gray;
    }

    li:hover {
      color: aquamarine;
    }

    li:active {
      background-color: aquamarine;
      color: white;
    }
  }
}
